{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Billit.API"
  },
  "host": "api.billit.be",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/account/accountInformation": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_GetAccountInformation",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Get account information",
            "schema": {
              "$ref": "#/definitions/AccountInformation"
            }
          }
        }
      }
    },
    "/v1/account/ssoToken": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_GetSSOToken",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/v1/account/sequences": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_PostSequences",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "SequenceRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SequenceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/v1/account/registercompany": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_RegisterCompany",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "RegisterAccountRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterAccountRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registers a company",
            "schema": {
              "$ref": "#/definitions/RegisterAccountResponse"
            }
          }
        }
      }
    },
    "/v1/account/license": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Update the license",
        "operationId": "Account_UpdateLicense",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "UpdateLicenseModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateLicenseRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update a company license",
            "schema": {
              "$ref": "#/definitions/UpdateLicenseResponseModel"
            }
          }
        }
      }
    },
    "/v1/account/license/addons": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Add new License Billable",
        "operationId": "Account_AddLicenseBillable",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "licenseBillableModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNewLicenseBillableModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Add a new license billable",
            "schema": {
              "$ref": "#/definitions/AddNewLicenseBillableResponseModel"
            }
          }
        }
      }
    },
    "/v1/accountant/feeds": {
      "get": {
        "tags": [
          "Accountant"
        ],
        "operationId": "Accountant_GetFeeds",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Get A list of all feeds to download.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Feed"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Accountant"
        ],
        "summary": "Register a new feed. All newly exported orders or documents will be available in this new feed.",
        "operationId": "Accountant_PostFeeds",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feed has been registered"
          }
        }
      }
    },
    "/v1/accountant/feeds/{feedName}": {
      "get": {
        "tags": [
          "Accountant"
        ],
        "summary": "Get A list of all feeds to download. Only query this once per minute",
        "operationId": "Accountant_GetIndex",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "feedName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of all files to download.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeedItem"
              }
            }
          },
          "400": {
            "description": "The request did not validate. Check response body for more details",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeedItem"
              }
            }
          },
          "500": {
            "description": "There was a problem. We have been notified already but dont hesitate to contact support.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeedItem"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Accountant"
        ],
        "summary": "Delete the feed",
        "operationId": "Accountant_DeleteFeeds",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "feedName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The Feed has been deleted"
          }
        }
      }
    },
    "/v1/accountant/feeds/{feedName}/{feedItemID}/confirm": {
      "post": {
        "tags": [
          "Accountant"
        ],
        "summary": "Confirm each succesfully downloaded feed item to remove it from the feedlist",
        "operationId": "Accountant_PostConfirm",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "feedName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "feedItemID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ConfirmRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfirmRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/v1/accountant/feeds/{feedName}/{feedItemID}": {
      "get": {
        "tags": [
          "Accountant"
        ],
        "summary": "download a coda file from the feed",
        "operationId": "Accountant_GetFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "feedItemID",
            "in": "path",
            "description": "The id of the file you want download",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "feedName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/v1/Cashbook/Initialize": {
      "post": {
        "tags": [
          "Cashbook"
        ],
        "summary": "Initialize the cash book for first use",
        "operationId": "Cashbook_InitializeCashbook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "cashbookInitialization",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CashbookInitialization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Initialize the cash book for first use"
          }
        }
      }
    },
    "/v1/Cashbook/Close": {
      "post": {
        "tags": [
          "Cashbook"
        ],
        "summary": "Initialize the cash book for first use",
        "operationId": "Cashbook_CloseCashbook",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Close the active cash book, initialization of a new one is required to add new entries"
          }
        }
      }
    },
    "/v1/Cashbook": {
      "get": {
        "tags": [
          "Cashbook"
        ],
        "summary": "Get the current cash book",
        "operationId": "Cashbook_GetCashbook",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Get information about the current active cash book",
            "schema": {
              "$ref": "#/definitions/CashbookModel"
            }
          }
        }
      }
    },
    "/v1/Cashbook/Entries": {
      "get": {
        "tags": [
          "Cashbook"
        ],
        "summary": "Get an overview of all the entries in the cash book",
        "operationId": "Cashbook_GetCashbookEntries",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fullTextSearch",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get an overview of all the entries in the cash book",
            "schema": {
              "$ref": "#/definitions/PageResult_CashbookEntry"
            }
          }
        }
      }
    },
    "/v1/Cashbook/History": {
      "get": {
        "tags": [
          "Cashbook"
        ],
        "summary": "Get the current cash book",
        "operationId": "Cashbook_GetCashbooks",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Get an overview of all the closed cash books ",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CashbookModel"
              }
            }
          }
        }
      }
    },
    "/v1/Cashbook/{cashbookID}/History": {
      "get": {
        "tags": [
          "Cashbook"
        ],
        "summary": "Get an overview of all the entries in a closed cash book",
        "operationId": "Cashbook_GetCashbookHistory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "cashbookID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fullTextSearch",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get an overview of all the entries in the cash book",
            "schema": {
              "$ref": "#/definitions/PageResult_CashbookEntry"
            }
          }
        }
      }
    },
    "/v1/Cashbook/AddEntry": {
      "post": {
        "tags": [
          "Cashbook"
        ],
        "summary": "Add an entry to the cash book",
        "operationId": "Cashbook_PostCashbookEntry",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "cashbookInputEntry",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CashbookEntry"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Add an entry to the cash book",
            "schema": {
              "$ref": "#/definitions/CashbookEntry"
            }
          }
        }
      }
    },
    "/v1/DailyReceiptBooks/commands/CreateEntryInOpenExistingOrNew": {
      "post": {
        "tags": [
          "DailyReceipt"
        ],
        "summary": "Add a new daily receipt to a new or open daily receipt book",
        "operationId": "DailyReceipt_PostDailyReceiptBookEntry",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "DailyReceiptEntry",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DailyReceiptBookEntryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Save an daily receipt entry",
            "schema": {
              "$ref": "#/definitions/PostDailyReceiptBookEntryResponseModel"
            }
          }
        }
      }
    },
    "/v1/DailyReceiptBooks/DailyReceiptEntry/{DailyReceiptEntryID}": {
      "get": {
        "tags": [
          "DailyReceipt"
        ],
        "summary": "Get a daily receipt entry",
        "operationId": "DailyReceipt_GetDailyReceiptEntry",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "DailyReceiptEntryID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Get daily receipt entry detail",
            "schema": {
              "$ref": "#/definitions/GetDailyReceiptEntryResponseModel"
            }
          }
        }
      }
    },
    "/v1/DailyReceiptBooks/{DailyReceiptBookID}": {
      "get": {
        "tags": [
          "DailyReceipt"
        ],
        "summary": "Get a daily receipt book with details",
        "operationId": "DailyReceipt_GetDailyReceiptBook",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "DailyReceiptBookID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Get an daily receipt book",
            "schema": {
              "$ref": "#/definitions/DailyReceiptBookModelResponseModel"
            }
          }
        }
      }
    },
    "/v1/DailyReceiptBooks": {
      "get": {
        "tags": [
          "DailyReceipt"
        ],
        "summary": "Get a daily receipt book list",
        "operationId": "DailyReceipt_GetDailyReceiptBooks",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Get an daily receipt book list",
            "schema": {
              "$ref": "#/definitions/DailyReceiptBookModelResponseModel"
            }
          }
        }
      }
    },
    "/v1/documents": {
      "get": {
        "tags": [
          "Document"
        ],
        "operationId": "Document_GetDocuments",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fullTextSearch",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of documents",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentAPIView"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Document"
        ],
        "operationId": "Document_PostDocument",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Document",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Save a document",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/documents/{documentID}": {
      "get": {
        "tags": [
          "Document"
        ],
        "operationId": "Document_GetDocument",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "documentID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a document",
            "schema": {
              "$ref": "#/definitions/DocumentAPIView"
            }
          }
        }
      }
    },
    "/v1/einvoices/registrations": {
      "get": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_GetRegistrations",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Retrieve all registered companies",
            "schema": {
              "$ref": "#/definitions/GetEinvoiceAccountsReponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_PostRegistration",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EinvoiceRegistrationPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Register a new entity",
            "schema": {
              "$ref": "#/definitions/AccountRegistrationResponse"
            }
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}": {
      "get": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_GetRegistration",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve an registered Company",
            "schema": {
              "$ref": "#/definitions/GetEinvoiceAccountsReponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_DeleteRegistration",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a registration",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_PatchEntity",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "einvoiceRegistrationPatch",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update a entity",
            "schema": {
              "$ref": "#/definitions/AccountRegistrationResponse"
            }
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/integrations": {
      "post": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_PostRegistrationIntegration",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "post",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activate a new integration",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/integrations/{integrationID}": {
      "delete": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_DeleteRegistrationIntegration",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "integrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Deactivate an integration",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/commands/send": {
      "post": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_PostSend",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sendRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAndSendEDocumentPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create and Send an E-document",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/orders": {
      "get": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_GetOrders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fullTextSearch",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve the E-documents",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/files/{fileID}": {
      "get": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_GetFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fileID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a file",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/orders/{orderID}": {
      "get": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_GetOrder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Register a new participant on the e-Invoice network.",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_PatchOrder",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "delta",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patch an E-document",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/webhooks": {
      "get": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_GetWebhooks",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Get webhooks",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_PostWebhook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "webhook",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Save an webhook",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/webhooks/{webhookID}": {
      "delete": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_DeleteWebhooks",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "webhookID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete an webhook",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/webhooks/refresh/{webhookID}": {
      "post": {
        "tags": [
          "Einvoice"
        ],
        "operationId": "Einvoice_RefreshWebhookSecret",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "webhookID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Refresh an webhook secret",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/v1/files/{fileID}": {
      "get": {
        "tags": [
          "File"
        ],
        "operationId": "File_GetOrders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fileID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a file",
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        }
      }
    },
    "/v1/financialTransactions/importFile": {
      "post": {
        "tags": [
          "FinancialTransaction"
        ],
        "operationId": "FinancialTransaction_PostImportFile",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "importFile",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upload a coda file"
          }
        }
      }
    },
    "/v1/financialTransactions/commands/import": {
      "post": {
        "tags": [
          "FinancialTransaction"
        ],
        "operationId": "FinancialTransaction_PostImport",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "transactions",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Transaction"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/v1/financialTransactions": {
      "get": {
        "tags": [
          "FinancialTransaction"
        ],
        "summary": "",
        "operationId": "FinancialTransaction_GetBankTransactions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fullTextSearch",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/v1/glaccounts": {
      "post": {
        "tags": [
          "GLAccount"
        ],
        "operationId": "GLAccount_PostGLAccount",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GLAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Save an general ledger account code",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/glaccounts/commands/import": {
      "post": {
        "tags": [
          "GLAccount"
        ],
        "operationId": "GLAccount_PostGLAccountBulk",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accounts",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GLAccount"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Save an general ledger account code",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/journals/commands/import": {
      "post": {
        "tags": [
          "Journal"
        ],
        "operationId": "Journal_PostGLAccount",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "journals",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Journal"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Import a list of journals",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/misc/companysearch/{Keywords}": {
      "get": {
        "tags": [
          "Misc"
        ],
        "operationId": "Misc_GetCompanySearch",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Keywords",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search a company based on any keyword",
            "schema": {
              "$ref": "#/definitions/CompanySearchResult"
            }
          }
        }
      }
    },
    "/v1/misc/typecodes/{TypeCodeType}": {
      "get": {
        "tags": [
          "Misc"
        ],
        "operationId": "Misc_GetTypeCodes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "TypeCodeType",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get all translations of a TypeCode",
            "schema": {
              "$ref": "#/definitions/TypeCodeResult"
            }
          }
        }
      }
    },
    "/v1/misc/typecodes/{TypeCodeType}/{key}/{language}": {
      "get": {
        "tags": [
          "Misc"
        ],
        "operationId": "Misc_GetTranslation",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "TypeCodeType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a translation of a key of a typecode",
            "schema": {
              "$ref": "#/definitions/TypeCodeResult"
            }
          }
        }
      }
    },
    "/OAuth2/token": {
      "post": {
        "tags": [
          "OAuth2"
        ],
        "operationId": "OAuth2_PostToken",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "OAuthAccessTokenRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OAuthAccessTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/OAuth2/revoke": {
      "post": {
        "tags": [
          "OAuth2"
        ],
        "operationId": "OAuth2_PostTokenRevoke",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/v1/orders": {
      "get": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_GetOrders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fullTextSearch",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of invoices/creditnotes/offers/...",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Order"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_PostOrders",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "order",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Save an order",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/orders/{orderID}/bookingEntries": {
      "put": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_PutOrderBookings",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bookingEntries",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookingEntry"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Save booking lines collection"
          }
        }
      }
    },
    "/v1/orders/{orderID}": {
      "get": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_GetOrder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get an order",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_DeleteOrder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete an order",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_PatchOrders",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "delta",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patch an order"
          }
        }
      }
    },
    "/v1/orders/{orderID}/payments": {
      "post": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_PostOrderPayment",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostPaymentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Add partial payment to order"
          }
        }
      }
    },
    "/v1/orders/commands/send": {
      "post": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_PostSend",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "sendRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All orders have been sent"
          }
        }
      }
    },
    "/v1/orders/commands/eSign/{orderID}": {
      "post": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_ESignOrder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "E-Sign an order",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/orders/deleted": {
      "get": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_GetDeleted",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "All orders have been sent"
          }
        }
      }
    },
    "/v1/parties/{partyID}": {
      "get": {
        "tags": [
          "Party"
        ],
        "operationId": "Party_GetParty",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "partyID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a party",
            "schema": {
              "$ref": "#/definitions/Party"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Party"
        ],
        "summary": "Endpoint to patch Party Properties. Won't work with NavigationProperties.",
        "operationId": "Party_PatchParties",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "partyID",
            "in": "path",
            "description": "The PartyID of the Party you want to update",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "delta",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patch a party"
          }
        }
      }
    },
    "/v1/parties": {
      "get": {
        "tags": [
          "Party"
        ],
        "operationId": "Party_GetParties",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fullTextSearch",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of customers or suppliers",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Party"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Party"
        ],
        "operationId": "Party_PostParty",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "party",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Party"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Save a party",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/peppol/participants": {
      "post": {
        "tags": [
          "Peppol"
        ],
        "operationId": "Peppol_PostParticipant",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registerRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterParticipantRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Send a direct Peppol message. Compatible with receivers that support Invoice5 or Creditnote5, BisV3 Invoice or BisV3 Creditnote",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Peppol"
        ],
        "operationId": "Peppol_DeleteParticipant",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registerRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteParticipantRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Send a direct Peppol message. Compatible with receivers that support Invoice5 or Creditnote5, BisV3 Invoice or BisV3 Creditnote",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/peppol/inbox": {
      "get": {
        "tags": [
          "Peppol"
        ],
        "operationId": "Peppol_GetInbox",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ReceiverCompanyID",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists the first 10 peppol items in the inbox. Use the file api to download the actual message and the confirm method to remove it from the queue",
            "schema": {
              "$ref": "#/definitions/InboxGetResult"
            }
          }
        }
      }
    },
    "/v1/peppol/inbox/{inboxItemId}/confirm": {
      "post": {
        "tags": [
          "Peppol"
        ],
        "operationId": "Peppol_InboxItemConfirm",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "inboxItemId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Send a direct Peppol message. Compatible with receivers that support Invoice5 or Creditnote5, BisV3 Invoice or BisV3 Creditnote",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/peppol/inbox/{inboxItemId}/refuse": {
      "post": {
        "tags": [
          "Peppol"
        ],
        "operationId": "Peppol_InboxItemRefuse",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "inboxItemId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefusePeppolItemRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Send a direct Peppol message. Compatible with receivers that support Invoice5 or Creditnote5, BisV3 Invoice or BisV3 Creditnote",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/peppol/sendOrder": {
      "post": {
        "tags": [
          "Peppol"
        ],
        "operationId": "Peppol_PostSendOrder",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "order",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Send a direct Peppol message. Compatible with receivers that support Invoice5, Creditnote5, BisV3 Invoice or BisV3 Creditnote",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/peppol/participantInformation/{VATorCBE}": {
      "get": {
        "tags": [
          "Peppol"
        ],
        "operationId": "Peppol_GetParticipantInformation",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "VATorCBE",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "OnlyCheckDNS",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Peppol participant information. API key is not required.",
            "schema": {
              "$ref": "#/definitions/ParticipantInformationResponse"
            }
          }
        }
      }
    },
    "/v1/products/{productID}": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get a specific product",
        "operationId": "Product_GetProduct",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "productID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a product",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      }
    },
    "/v1/products": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get a list of products",
        "operationId": "Product_GetProducts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Get a list of products",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Product"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "Create a new product of update an existing product",
        "operationId": "Product_PostProduct",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Save a product",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/reports": {
      "get": {
        "tags": [
          "Report"
        ],
        "operationId": "Report_ReportListGet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns a list of available reports for the current user",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReportsExportOverViewModel"
              }
            }
          }
        }
      }
    },
    "/v1/reports/{reportID}": {
      "get": {
        "tags": [
          "Report"
        ],
        "operationId": "Report_ReportDetailGet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "reportID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the result and name of the report specified by the reportID",
            "schema": {
              "$ref": "#/definitions/ReportDetailModel"
            }
          }
        }
      }
    },
    "/v1/toProcess": {
      "post": {
        "tags": [
          "ToProcess"
        ],
        "operationId": "ToProcess_PostToProcess",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "toProcess",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ToProcessSaveRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Save a new document to process. Rerturns an upload ID",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/toProcess/{uploadID}": {
      "delete": {
        "tags": [
          "ToProcess"
        ],
        "operationId": "ToProcess_DeleteToProcess",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "uploadID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a document to process, based on the upload"
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_GetWebhooks",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Get webhooks",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhook"
        ],
        "summary": "Creates a webhook",
        "description": "Sample request:\r\n            \r\n    POST /v1/webhooks\r\n    {\r\n       \"EntityType\": \"Order\",\r\n       \"WebhookURL\": \"https://my.Webhook.url.com/Callback\"\r\n    }",
        "operationId": "Webhook_PostWebhook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "webhook",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Save an webhook",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          }
        }
      }
    },
    "/v1/webhooks/{webhookID}": {
      "delete": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_DeleteWebhooks",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "webhookID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete an webhook",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/v1/webhooks/refresh/{webhookID}": {
      "post": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_RefreshWebhookSecret",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "webhookID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Refresh an webhook secret",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AccountInformation": {
      "type": "object",
      "properties": {
        "Email": {
          "type": "string"
        },
        "Companies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountInformationParty"
          }
        },
        "UserCompanyRoles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserCompanyRole"
          }
        },
        "ExternalProviderID": {
          "type": "string"
        },
        "ExternalProviderTC": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "LoginOrRegisterNeeded": {
          "type": "boolean"
        },
        "NationalIdentityNumber": {
          "type": "string"
        },
        "CardNumber": {
          "type": "string"
        },
        "PhoneNumber": {
          "type": "string"
        },
        "UniqueReference": {
          "type": "string"
        }
      }
    },
    "AccountInformationParty": {
      "type": "object",
      "properties": {
        "TabNameAlias": {
          "type": "string"
        },
        "APIAllowed": {
          "type": "boolean"
        },
        "LogoFileID": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "APIEnabledFeatures": {
          "$ref": "#/definitions/APIEnabledFeatures"
        },
        "UserLanguage": {
          "type": "string"
        },
        "PartyID": {
          "format": "int32",
          "type": "integer"
        },
        "BookYearStart": {
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "Nr": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "CommercialName": {
          "type": "string"
        },
        "Addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartyAddress"
          }
        },
        "Street": {
          "type": "string"
        },
        "StreetNumber": {
          "type": "string"
        },
        "Box": {
          "type": "string"
        },
        "Zipcode": {
          "type": "string"
        },
        "CostCategoryCode": {
          "format": "int32",
          "type": "integer"
        },
        "AccountingCostTypeName": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "CountryCode": {
          "type": "string"
        },
        "IBAN": {
          "type": "string"
        },
        "BIC": {
          "type": "string"
        },
        "Mobile": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "Fax": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "Website": {
          "type": "string"
        },
        "Contact": {
          "type": "string"
        },
        "ContactFirstName": {
          "type": "string"
        },
        "ContactLastName": {
          "type": "string"
        },
        "VATNumber": {
          "type": "string"
        },
        "PeppolIdentifier": {
          "type": "string"
        },
        "RPR": {
          "type": "string"
        },
        "LastModified": {
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "Created": {
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "PartyType": {
          "enum": [
            "Customer",
            "Supplier"
          ],
          "type": "string"
        },
        "VATLiable": {
          "type": "boolean"
        },
        "AccountantCode": {
          "format": "int32",
          "type": "integer"
        },
        "GLAccountCode": {
          "format": "int64",
          "type": "integer"
        },
        "Language": {
          "type": "string"
        },
        "VentilationCode": {
          "type": "string"
        },
        "ExternalProviderID": {
          "type": "string"
        },
        "ExternalProviderTC": {
          "type": "string"
        },
        "CustomFields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MutableKeyValuePair_StringString"
          }
        },
        "BankAccounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BankAccount"
          }
        },
        "Users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserCoreInfo"
          }
        },
        "DefaultPaymentMethodTC": {
          "type": "string"
        },
        "DefaultPaid": {
          "type": "boolean"
        },
        "DisplayName": {
          "type": "string"
        },
        "DefaultTransportTypeTC": {
          "type": "string"
        },
        "FinancialReductionPercentageDefault": {
          "format": "double",
          "type": "number"
        },
        "FinancialReductionDaysDefault": {
          "format": "int32",
          "type": "integer"
        },
        "DefaultExpiryOffset": {
          "format": "int32",
          "type": "integer"
        },
        "GLDefaultExpiryOffset": {
          "format": "int64",
          "type": "integer"
        },
        "Role": {
          "type": "string"
        },
        "InternalInfo": {
          "type": "string"
        },
        "VATDeductable": {
          "type": "boolean"
        },
        "DefaultReductionPercentage": {
          "format": "double",
          "type": "number"
        },
        "Identifiers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartyIdentifier"
          }
        },
        "BookCategoryTC": {
          "type": "string"
        },
        "SmallEnterprise": {
          "type": "boolean"
        },
        "AutoSendInvoiceReminders": {
          "type": "boolean"
        },
        "DefaultCurrencyTC": {
          "type": "string"
        },
        "Regime": {
          "type": "string"
        },
        "SubRegime": {
          "type": "string"
        },
        "IsHighRisk": {
          "type": "boolean"
        },
        "SendUBL": {
          "type": "boolean"
        },
        "SendPDF": {
          "type": "boolean"
        }
      }
    },
    "UserCompanyRole": {
      "type": "object",
      "properties": {
        "PartyID": {
          "format": "int32",
          "type": "integer"
        },
        "UserRoleTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "APIEnabledFeatures": {
      "type": "object",
      "properties": {
        "TimeRegistration": {
          "type": "boolean"
        },
        "Projects": {
          "type": "boolean"
        },
        "DailyReceipts": {
          "type": "boolean"
        },
        "FinancialReduction": {
          "type": "boolean"
        },
        "GLAccounts": {
          "type": "boolean"
        },
        "Cashbook": {
          "type": "boolean"
        }
      }
    },
    "PartyAddress": {
      "type": "object",
      "properties": {
        "AddressType": {
          "type": "string"
        },
        "Tav": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Street": {
          "type": "string"
        },
        "StreetNumber": {
          "type": "string"
        },
        "Box": {
          "type": "string"
        },
        "Zipcode": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "CountryCode": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        }
      }
    },
    "MutableKeyValuePair_StringString": {
      "type": "object",
      "properties": {
        "Key": {
          "type": "string"
        },
        "Value": {
          "type": "string"
        }
      }
    },
    "BankAccount": {
      "type": "object",
      "properties": {
        "IBAN": {
          "type": "string"
        },
        "BIC": {
          "type": "string"
        },
        "Currency": {
          "type": "string"
        },
        "Verified": {
          "type": "boolean"
        },
        "Name": {
          "type": "string"
        },
        "Saldo": {
          "format": "double",
          "type": "number"
        },
        "ExternalProviderID": {
          "type": "string"
        },
        "LogoFileID": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "LogoFileUrl": {
          "type": "string"
        },
        "CountryCode": {
          "type": "string"
        },
        "BankAccountName": {
          "type": "string"
        },
        "BankProviderStatus": {
          "type": "string"
        },
        "AccountIdentification": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        }
      }
    },
    "UserCoreInfo": {
      "type": "object",
      "properties": {
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Role": {
          "type": "string"
        },
        "ExternalProviderID": {
          "type": "string"
        }
      }
    },
    "PartyIdentifier": {
      "type": "object",
      "properties": {
        "IdentifierType": {
          "type": "string"
        },
        "Identifier": {
          "type": "string"
        },
        "SchemeID": {
          "type": "string"
        },
        "Preferred": {
          "type": "boolean"
        }
      }
    },
    "SequenceRequest": {
      "type": "object",
      "properties": {
        "SequenceType": {
          "type": "string"
        },
        "Consume": {
          "type": "boolean"
        }
      }
    },
    "RegisterAccountRequestModel": {
      "type": "object",
      "properties": {
        "Company": {
          "$ref": "#/definitions/Party"
        },
        "AccountSettings": {
          "$ref": "#/definitions/AccountSettings"
        },
        "License": {
          "$ref": "#/definitions/LicenseConfiguration"
        }
      }
    },
    "Party": {
      "type": "object",
      "properties": {
        "PartyID": {
          "format": "int32",
          "type": "integer"
        },
        "BookYearStart": {
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "Nr": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "CommercialName": {
          "type": "string"
        },
        "Addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartyAddress"
          }
        },
        "Street": {
          "type": "string"
        },
        "StreetNumber": {
          "type": "string"
        },
        "Box": {
          "type": "string"
        },
        "Zipcode": {
          "type": "string"
        },
        "CostCategoryCode": {
          "format": "int32",
          "type": "integer"
        },
        "AccountingCostTypeName": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "CountryCode": {
          "type": "string"
        },
        "IBAN": {
          "type": "string"
        },
        "BIC": {
          "type": "string"
        },
        "Mobile": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "Fax": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "Website": {
          "type": "string"
        },
        "Contact": {
          "type": "string"
        },
        "ContactFirstName": {
          "type": "string"
        },
        "ContactLastName": {
          "type": "string"
        },
        "VATNumber": {
          "type": "string"
        },
        "PeppolIdentifier": {
          "type": "string"
        },
        "RPR": {
          "type": "string"
        },
        "LastModified": {
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "Created": {
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "PartyType": {
          "enum": [
            "Customer",
            "Supplier"
          ],
          "type": "string"
        },
        "VATLiable": {
          "type": "boolean"
        },
        "AccountantCode": {
          "format": "int32",
          "type": "integer"
        },
        "GLAccountCode": {
          "format": "int64",
          "type": "integer"
        },
        "Language": {
          "type": "string"
        },
        "VentilationCode": {
          "type": "string"
        },
        "ExternalProviderID": {
          "type": "string"
        },
        "ExternalProviderTC": {
          "type": "string"
        },
        "CustomFields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MutableKeyValuePair_StringString"
          }
        },
        "BankAccounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BankAccount"
          }
        },
        "Users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserCoreInfo"
          }
        },
        "DefaultPaymentMethodTC": {
          "type": "string"
        },
        "DefaultPaid": {
          "type": "boolean"
        },
        "DisplayName": {
          "type": "string"
        },
        "DefaultTransportTypeTC": {
          "type": "string"
        },
        "FinancialReductionPercentageDefault": {
          "format": "double",
          "type": "number"
        },
        "FinancialReductionDaysDefault": {
          "format": "int32",
          "type": "integer"
        },
        "DefaultExpiryOffset": {
          "format": "int32",
          "type": "integer"
        },
        "GLDefaultExpiryOffset": {
          "format": "int64",
          "type": "integer"
        },
        "Role": {
          "type": "string"
        },
        "InternalInfo": {
          "type": "string"
        },
        "VATDeductable": {
          "type": "boolean"
        },
        "DefaultReductionPercentage": {
          "format": "double",
          "type": "number"
        },
        "Identifiers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartyIdentifier"
          }
        },
        "BookCategoryTC": {
          "type": "string"
        },
        "SmallEnterprise": {
          "type": "boolean"
        },
        "AutoSendInvoiceReminders": {
          "type": "boolean"
        },
        "DefaultCurrencyTC": {
          "type": "string"
        },
        "Regime": {
          "type": "string"
        },
        "SubRegime": {
          "type": "string"
        },
        "IsHighRisk": {
          "type": "boolean"
        },
        "SendUBL": {
          "type": "boolean"
        },
        "SendPDF": {
          "type": "boolean"
        }
      }
    },
    "AccountSettings": {
      "type": "object",
      "properties": {
        "BulkInputFastForward": {
          "type": "boolean"
        },
        "SendPeppolInvoiceReceivedMail": {
          "type": "boolean"
        },
        "ExternalLicenseID": {
          "type": "string"
        }
      }
    },
    "LicenseConfiguration": {
      "type": "object",
      "properties": {
        "LicenseID": {
          "format": "int32",
          "type": "integer"
        },
        "PeriodID": {
          "format": "int32",
          "type": "integer"
        },
        "Addons": {
          "$ref": "#/definitions/LicenseAddons"
        }
      }
    },
    "LicenseAddons": {
      "type": "object",
      "properties": {
        "AmountOfExtraUsers": {
          "format": "int32",
          "type": "integer"
        },
        "AmountOfExtraDocuments": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "RegisterAccountResponse": {
      "type": "object",
      "properties": {
        "CompanyID": {
          "format": "int32",
          "type": "integer"
        },
        "APIKey": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserIdBundle"
          }
        },
        "BankAccounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BankAccountState"
          }
        }
      }
    },
    "UserIdBundle": {
      "type": "object",
      "properties": {
        "UserID": {
          "format": "int32",
          "type": "integer"
        },
        "ExternalProviderID": {
          "type": "string"
        }
      }
    },
    "BankAccountState": {
      "type": "object",
      "properties": {
        "BankAccountID": {
          "format": "int32",
          "type": "integer"
        },
        "IBAN": {
          "type": "string"
        },
        "BankAccountName": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        }
      }
    },
    "UpdateLicenseRequestModel": {
      "type": "object",
      "properties": {
        "CompanyID": {
          "format": "int32",
          "type": "integer"
        },
        "License": {
          "$ref": "#/definitions/LicenseConfiguration"
        }
      }
    },
    "UpdateLicenseResponseModel": {
      "type": "object",
      "properties": {
        "CompanyID": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AddNewLicenseBillableModel": {
      "type": "object",
      "properties": {
        "CompanyID": {
          "format": "int32",
          "type": "integer"
        },
        "AmountOfExtraDocuments": {
          "format": "int32",
          "type": "integer"
        },
        "AmountOfExtraUsers": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AddNewLicenseBillableResponseModel": {
      "type": "object",
      "properties": {
        "CompanyID": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Feed": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string"
        }
      }
    },
    "FeedItem": {
      "type": "object",
      "properties": {
        "FeedItemID": {
          "format": "int32",
          "description": "The ID of the feeditem itself. Use this ID to confirm that the feed was succesfully processed",
          "type": "integer"
        },
        "EntityID": {
          "format": "int32",
          "description": "The ID of the order or the ID of the document. Use this ID in the Order or Document API to fetch the data",
          "type": "integer"
        },
        "EntityType": {
          "description": "Order or Document",
          "type": "string"
        },
        "PartyID": {
          "format": "int32",
          "description": "The ID of the company that uploaded the document. Use this ID in the contextPartyID header when downloading the order or document",
          "type": "integer"
        }
      }
    },
    "ConfirmRequest": {
      "description": "Optional, For logging purpose",
      "type": "object",
      "properties": {
        "RemoteServerName": {
          "type": "string"
        },
        "RemotePath": {
          "type": "string"
        }
      }
    },
    "CashbookInitialization": {
      "type": "object",
      "properties": {
        "StartDate": {
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "StartBalance": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "CashbookModel": {
      "type": "object",
      "properties": {
        "CashbookID": {
          "format": "int32",
          "type": "integer"
        },
        "Name": {
          "type": "string"
        },
        "CreationDate": {
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "Saldo": {
          "format": "double",
          "type": "number"
        },
        "LastEntryDate": {
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "Currency": {
          "type": "string"
        }
      }
    },
    "ODataQueryOptions_CashbookEntry": {
      "type": "object",
      "properties": {
        "IfMatch": {
          "type": "object",
          "readOnly": true
        },
        "IfNoneMatch": {
          "type": "object",
          "readOnly": true
        },
        "Context": {
          "$ref": "#/definitions/ODataQueryContext",
          "readOnly": true
        },
        "Request": {
          "type": "object",
          "readOnly": true
        },
        "RawValues": {
          "$ref": "#/definitions/ODataRawQueryOptions",
          "readOnly": true
        },
        "SelectExpand": {
          "$ref": "#/definitions/SelectExpandQueryOption",
          "readOnly": true
        },
        "Filter": {
          "$ref": "#/definitions/FilterQueryOption",
          "readOnly": true
        },
        "OrderBy": {
          "$ref": "#/definitions/OrderByQueryOption",
          "readOnly": true
        },
        "Skip": {
          "$ref": "#/definitions/SkipQueryOption",
          "readOnly": true
        },
        "Top": {
          "$ref": "#/definitions/TopQueryOption",
          "readOnly": true
        },
        "InlineCount": {
          "$ref": "#/definitions/InlineCountQueryOption",
          "readOnly": true
        },
        "Validator": {
          "$ref": "#/definitions/ODataQueryValidator"
        }
      }
    },
    "ODataQueryContext": {
      "type": "object",
      "properties": {
        "Model": {
          "$ref": "#/definitions/IEdmModel",
          "readOnly": true
        },
        "ElementType": {
          "$ref": "#/definitions/IEdmType",
          "readOnly": true
        },
        "ElementClrType": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ODataRawQueryOptions": {
      "type": "object",
      "properties": {
        "Filter": {
          "type": "string",
          "readOnly": true
        },
        "OrderBy": {
          "type": "string",
          "readOnly": true
        },
        "Top": {
          "type": "string",
          "readOnly": true
        },
        "Skip": {
          "type": "string",
          "readOnly": true
        },
        "Select": {
          "type": "string",
          "readOnly": true
        },
        "Expand": {
          "type": "string",
          "readOnly": true
        },
        "InlineCount": {
          "type": "string",
          "readOnly": true
        },
        "Format": {
          "type": "string",
          "readOnly": true
        },
        "SkipToken": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SelectExpandQueryOption": {
      "type": "object",
      "properties": {
        "Context": {
          "$ref": "#/definitions/ODataQueryContext",
          "readOnly": true
        },
        "RawSelect": {
          "type": "string",
          "readOnly": true
        },
        "RawExpand": {
          "type": "string",
          "readOnly": true
        },
        "Validator": {
          "$ref": "#/definitions/SelectExpandQueryValidator"
        },
        "SelectExpandClause": {
          "$ref": "#/definitions/SelectExpandClause",
          "readOnly": true
        }
      }
    },
    "FilterQueryOption": {
      "type": "object",
      "properties": {
        "Context": {
          "$ref": "#/definitions/ODataQueryContext",
          "readOnly": true
        },
        "Validator": {
          "$ref": "#/definitions/FilterQueryValidator"
        },
        "FilterClause": {
          "$ref": "#/definitions/FilterClause",
          "readOnly": true
        },
        "RawValue": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OrderByQueryOption": {
      "type": "object",
      "properties": {
        "Context": {
          "$ref": "#/definitions/ODataQueryContext",
          "readOnly": true
        },
        "OrderByNodes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderByNode"
          },
          "readOnly": true
        },
        "RawValue": {
          "type": "string",
[...]
